<section class="contacts">
    <div class='contacts__container container'>
        <h3 class="contacts__title">Контакты</h3>
        <div class="contacts__row">
            <div class="contacts__col contacts__col--left">
                <div class="contacts-group">
                    <strong class="contacts-group__title">Контактные данные</strong>
                    <ul class="contacts-group__list">
                        <li><a href="tel:+79999999999" class="contacts-group__link contacts-group__link--phone">
                            +7 (999) 999-99-99</a></li>
                        <li><a href="mailto:potracheno@mail.ru"
                               class="contacts-group__link contacts-group__link--mail">
                            potracheno@mail.ru</a></li>
                        <li><a class="contacts-group__link contacts-group__link--mark">
                            г. Самара, ул. Ерошевского, 70</a></li>
                    </ul>
                </div>
                <div class="contacts-group">
                    <strong class="contacts-group__title">Забронировать столик</strong>
                    <button class="contacts-group__btn btn">Онлайн бронирование</button>
                    <div class="contacts-group__socials contacts-socials">
                        <a href="#" class="contacts-socials__link contacts-socials__link--instagram"></a>
                        <a href="#" class="contacts-socials__link contacts-socials__link--tg"></a>
                        <a href="#" class="contacts-socials__link contacts-socials__link--whatsapp"></a>
                    </div>
                </div>
            </div>
            <div class="contacts__col contacts__col--right">
                <div class="contacts__map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23972.213152426983!2d69.30232363935909!3d41.31916015571916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef52099f9f365%3A0xfbd5b98a8fa2c648!2sIT%20Park%20Tashkent!5e0!3m2!1sru!2s!4v1680696765988!5m2!1sru!2s"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    allowfullscreen="" loading="lazy"></iframe>
                </div>
                <div class="contacts__time">
                    <strong>Режим работы</strong>
                    Пн-Сб 9:00-22:00
                </div>
            </div>
        </div>
    </div>
</section>