<div class="menu-items__item"> {% load static %}
    <article class="menu-meal">
        <div class="menu-meal__top">
            <div class="menu-meal__slider swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="menu-meal__img _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/meals/bar-1.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/meals/bar-1.jpg" alt="first meal"></picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="menu-meal__img _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/meals/bar-2.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/meals/bar-2.jpg" alt="first meal"></picture>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="menu-meal__img _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/meals/bar-3.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/meals/bar-3.jpg" alt="first meal"></picture>
                        </a>
                    </div>
                </div>
                <div class="menu-meal__pagination swiper-pagination"></div>
            </div>
        </div>
        <div class="menu-meal__info meal-info">
            <h4 class="meal-info__title">Салат с тигровыми креветками</h4>
            <div class="meal-info__calories">
                <span>Ккал:245</span>
                <span>БЖУ: 19,8/12,5/0</span>
            </div>
            <div class="meal-info__bottom">
                <div class="meal-info__price"><span>359₽</span>/100г.</div>
                <button class="meal-info__btn btn">подробнее</button>
            </div>
        </div>
    </article>
</div>