<div class="about__section-title section-title">{% load static %}
    <h4 class="section-title__text section-title__text--regular">Интерьер заведения</h4>
</div>
<div class="about__row">
    <div class="about__col about__left">
        <div class="about-us__slider">
            <div class="swiper-container slider-about">
                <div class="swiper-wrapper">
                    <div class="swiper-slide js-about-slide" data-index="1">
                        <div class="slider-about__item _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/1.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/1.jpg" alt=""/></picture>
                        </div>
                    </div>
                    <div class="swiper-slide js-about-slide" data-index="2">
                        <div class="slider-about__item _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/2.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/2.jpg" alt=""/></picture>
                        </div>
                    </div>
                    <div class="swiper-slide js-about-slide" data-index="3">
                        <div class="slider-about__item _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/about-us/3.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/about-us/3.jpg" alt=""/></picture>
                        </div>
                    </div>
                    <div class="swiper-slide js-about-slide" data-index="4">
                        <div class="slider-about__item _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/about-us/4.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/about-us/4.jpg" alt=""/></picture>
                        </div>
                    </div>
                    <div class="swiper-slide js-about-slide" data-index="5">
                        <div class="slider-about__item _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/about-us/5.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/about-us/5.jpg" alt=""/></picture>
                        </div>
                    </div>
                    <div class="swiper-slide js-about-slide" data-index="6">
                        <div class="slider-about__item _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/about-us/6.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/about-us/6.jpg" alt=""/></picture>
                        </div>
                    </div>
                    <div class="swiper-slide js-about-slide" data-index="7">
                        <div class="slider-about__item _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/about-us/1.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/about-us/1.jpg" alt=""/></picture>
                        </div>
                    </div>
                    <div class="swiper-slide js-about-slide" data-index="8">
                        <div class="slider-about__item _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/about-us/2.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/about-us/2.jpg" alt=""/></picture>
                        </div>
                    </div>
                    <div class="swiper-slide js-about-slide" data-index="9">
                        <div class="slider-about__item _ibg">
                            <picture>
                                <source srcset="{% static 'core/' %}img/about-us/3.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/about-us/3.jpg" alt=""/></picture>
                        </div>
                    </div>
                </div>
                <div class="about-us__controls controls-slider">
                    <div class="controls-slider__pagination swiper-pagination"></div>
                    <div class="controls-slider__arrows">
                        <button class="controls-slider__arrow controls-slider__arrow--prev"
                                type="button"></button>
                        <button class="controls-slider__arrow controls-slider__arrow--next"
                                type="button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about__col about__right">
        <div class="about__subrow">
            <div class="swiper-container about__thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="about__item about__item--active js-about-thumb">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/1.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/1.jpg" alt=""></picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about__item js-about-thumb">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/2.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/2.jpg" alt=""></picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about__item js-about-thumb">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/3.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/3.jpg" alt=""></picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about__item js-about-thumb">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/4.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/4.jpg" alt=""></picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about__item js-about-thumb">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/5.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/5.jpg" alt=""></picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about__item js-about-thumb">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/6.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/6.jpg" alt=""></picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about__item js-about-thumb">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/1.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/1.jpg" alt=""></picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about__item js-about-thumb">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/2.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/2.jpg" alt=""></picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="about__item js-about-thumb">
                            <picture>
                                <source srcset="{% static 'core/' %}img/photo-reports/3.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/photo-reports/3.jpg" alt=""></picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>