<section class="section-info">{% load static %}
    <div class="section-info__wrapper">
        <div class='section-info__container container'>
            <div class="section-info__row">
                <div class="section-info__col"></div>
                <div class="section-info__col">
                    <div class="section-title">
                        <h4 class="section-title__text section-title__text--section-info">
                            Что у нас можно <span>покушать?</span>
                        </h4>
                    </div>
                </div>
                <div class="section-info__col section-info__col--left">
                    <div class="section-info__img">
                        <picture>
                            <source srcset="{% static 'core/' %}img/info-left.webp" type="image/webp">
                            <img src="{% static 'core/' %}img/info-left.png" alt=""></picture>
                    </div>
                    <div class="section-info__meal section-info__meal--1 info-meal">
                        <div class="info-meal__left">
                            <picture>
                                <source srcset="{% static 'core/' %}img/meals/1.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/meals/1.jpg" alt=""></picture>
                        </div>
                        <div class="info-meal__right">
                            <h4 class="info-meal__title">Салат с тигровыми креветками</h4>
                            <div class="info-meal__price"><span>359₽</span>/100г.</div>
                        </div>
                    </div>
                    <div class="section-info__meal section-info__meal--2 info-meal">
                        <div class="info-meal__left">
                            <picture>
                                <source srcset="{% static 'core/' %}img/meals/2.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/meals/2.jpg" alt=""></picture>
                        </div>
                        <div class="info-meal__right">
                            <h4 class="info-meal__title">Салат пармиджано</h4>
                            <div class="info-meal__price"><span>159₽</span>/100г.</div>
                        </div>
                    </div>
                    <div class="section-info__meal section-info__meal--3 info-meal">
                        <div class="info-meal__left">
                            <picture>
                                <source srcset="{% static 'core/' %}img/meals/1.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/meals/1.jpg" alt=""></picture>
                        </div>
                        <div class="info-meal__right">
                            <h4 class="info-meal__title">Салат с тигровыми креветками</h4>
                            <div class="info-meal__price"><span>359₽</span>/100г.</div>
                        </div>
                    </div>
                    <div class="section-info__meal section-info__meal--4 info-meal">
                        <div class="info-meal__left">
                            <picture>
                                <source srcset="{% static 'core/' %}img/meals/2.webp" type="image/webp">
                                <img src="{% static 'core/' %}img/meals/2.jpg" alt=""></picture>
                        </div>
                        <div class="info-meal__right">
                            <h4 class="info-meal__title">Салат пармиджано</h4>
                            <div class="info-meal__price"><span>159₽</span>/100г.</div>
                        </div>
                    </div>
                </div>
                <div class="section-info__col section-info__col--right">
                    <div class="section-text section-text--section-info">
                        <p>
                            С другой стороны сложившаяся структура организации требуют
                            определения и уточнения модели развития. Значимость этих
                            проблем настолько очевидна, что реализация намеченных
                            плановых заданий требуют от нас анализа дальнейших
                            направлений развития.
                        </p>
                    </div>
                    <a href="#" class="section-link">Смотреть меню</a>
                </div>
            </div>
        </div>
    </div>
</section>