<section class="news-stocks"> {% load static %}
    <div class="news-stocks__wrapper">
        <div class="news-stocks__container container">
            <div class="news-stocks__top news-stocks__top--main-menu">
                <h4 class="news-stocks__title">Новости и акции</h4>
            </div>
            <div class="news-stocks__slider">
                <div class="stocks-slider swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="stock-item stock-item--first">
                                <div class="stock-item__title">
                                    Скидка <span>10%</span>
                                </div>
                                <div class="stock-item__text">всем студентам</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stock-item">
                                <div class="stock-item__img">
                                    <picture>
                                        <source srcset="{% static 'core/' %}img/stock.webp" type="image/webp">
                                        <img src="{% static 'core/' %}img/stock.png" alt="Акция"/></picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stock-item stock-item--third">
                                <div class="stock-item__title stock-item__title--big">
                                    1 + 1 <br/>
                                    =3
                                </div>
                                <div class="stock-item__text">
                                    Третий коктейль <span>в подарок</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stock-item">
                                <div class="stock-item__img">
                                    <picture>
                                        <source srcset="{% static 'core/' %}img/stock.webp" type="image/webp">
                                        <img src="{% static 'core/' %}img/stock.png" alt="Акция"/></picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stock-item stock-item--first">
                                <div class="stock-item__title">
                                    Скидка <span>10%</span>
                                </div>
                                <div class="stock-item__text">всем студентам</div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stock-item">
                                <div class="stock-item__img">
                                    <picture>
                                        <source srcset="{% static 'core/' %}img/stock.webp" type="image/webp">
                                        <img src="{% static 'core/' %}img/stock.png" alt="Акция"/></picture>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stock-item stock-item--third">
                                <div class="stock-item__title stock-item__title--big">
                                    1 + 1 <br/>
                                    =3
                                </div>
                                <div class="stock-item__text">
                                    Третий коктейль <span>в подарок</span>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="stock-item">
                                <div class="stock-item__img">
                                    <picture>
                                        <source srcset="{% static 'core/' %}img/stock.webp" type="image/webp">
                                        <img src="{% static 'core/' %}img/stock.png" alt="Акция"/></picture>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="stocks-slider__pagination"></div>
                    <div class="stocks-slider__arrows">
                        <button class="stocks-slider__arrow stocks-slider__arrow--prev" type="button"></button>
                        <button class="stocks-slider__arrow stocks-slider__arrow--next" type="button"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>